<div class="modal-backdrop is-hidden" id="exercise-modal">
  <div class="exercise-modal-content">
    <button class="modal-close-btn" type="button" aria-label="Close" data-modal-close>
      <svg width="24" height="24">
        <use href="./img/x.svg"></use> 
      </svg>
    </button>

    <div class="modal-body-wrapper">
      <div class="modal-img-container">
        <img src="" alt="Exercise preview" class="js-exercise-img" />
      </div>

      <div class="modal-info-container">
        <h2 class="modal-title js-exercise-title">Air bike</h2>
        <div class="modal-rating-box">
          <span class="js-rating-value">4.0</span>
          <div class="stars-container js-stars">
             </div>
        </div>

        <ul class="modal-stats-list">
          <li class="stats-item">Target <span class="js-target">Abs</span></li>
          <li class="stats-item">Body Part <span class="js-bodyPart">Waist</span></li>
          <li class="stats-item">Equipment <span class="js-equipment">Body weight</span></li>
          <li class="stats-item">Popular <span class="js-popular">150</span></li>
          <li class="stats-item">Burned calories <span class="js-calories">323/3 min</span></li>
        </ul>

        <p class="modal-description js-description">
          This refers to your core muscles, which include the rectus abdominis...
        </p>

        <div class="modal-actions">
          <button class="add-fav-btn" type="button">
            Add to favorites <i class="icon-heart"></i>
          </button>
          <button class="give-rating-btn" type="button">Give a rating</button>
        </div>
      </div>
    </div>
  </div>
</div>