<section class="hero-section">
  <div class="container hero-container">
    <div class="hero-content">
      <div class="hero-text-wrapper">
        <h1 class="hero-title">
          <svg class="hero-star-icon" width="64" height="64">
            <use href="./img/star.svg"></use>
          </svg>
          Get <span class="hero-title-italic">Body</span> in shape, Stay healthy
        </h1>
        <p class="hero-description">
          Transform your physique and embrace a healthier lifestyle with our comprehensive fitness and nutrition support.
        </p>
      </div>

      <div class="hero-tags-wrapper">
        <img src="./img/two-ladies-2.png" alt="Workout preview" class="hero-mini-img" />
        
        <ul class="hero-tags-list">
          <li class="hero-tag">#Sport</li>
          <li class="hero-tag">#Healthy</li>
          <li class="hero-tag">#Workout</li>
          <li class="hero-tag">#Diet</li>
        </ul>
      </div>
    </div>

    <div class="hero-image-container">
      <img src="./img/two-ladies.png" alt="Two women training" class="hero-main-img" />
    </div>
  </div>
</section>