<div class="modal-backdrop is-hidden" id="rating-modal">
  <div class="exercise-modal-content rating-modal-content">
    <button class="modal-close-btn" type="button" data-rating-modal-close>
      <svg width="24" height="24"><use href="./img/sprite.svg#icon-close"></use></svg>
    </button>

    <p class="rating-label">Rating</p>
    <div class="rating-selection">
      <span class="js-rating-number">0.0</span>
      <div class="rating-stars js-rating-stars">
        </div>
    </div>

    <form class="rating-form">
      <input type="email" name="email" placeholder="Email" required class="rating-input">
      <textarea name="comment" placeholder="Your comment" class="rating-input rating-textarea"></textarea>
      <button type="submit" class="send-rating-btn">Send</button>
    </form>
  </div>
</div>