<aside class="sidebar-wrapper">
  <div id="quote-container" class="quote-card">
    <div class="quote-header">
      <div class="quote-icon-container">
        <svg class="quote-run-icon" width="20" height="20">
          <use href="./img/sprite.svg#icon-stick"></use>
        </svg>
      </div>
      <h2 class="quote-label">Quote of the day</h2>
      <svg class="quote-symbol" width="20" height="20">
        <use href="./img/sprite.svg#icon-quote"></use>
      </svg>
    </div>
    <p class="quote-text">Loading inspiration...</p>
    <p class="quote-author"></p>
  </div>

  <div class="sidebar-promo-img">
    <img src="./img/two-ladies-water.png" alt="Two ladies drinking water" />
  </div>

  <div class="daily-norm-card">
    <div class="daily-norm-header">
      <div class="quote-icon-container daily-icon-circle">
        <svg width="20" height="20" class="daily-icon-svg">
          <use href="./img/sprite.svg#icon-weight"></use>
        </svg>
      </div>
      <div class="daily-norm-info">
        <p class="daily-norm-value">110 min</p>
        <p class="daily-norm-label">Daily norm of sports</p>
      </div>
    </div>
    
    <p class="daily-norm-description">
      The World Health Organization recommends at least 150 minutes of moderate-intensity aerobic physical activity throughout the week for adults aged 18-64. However, what happens if we adjust that number to 110 minutes every day? While it might seem like a high number to hit, dedicating 110 minutes daily to sporting activities may offer unparalleled benefits to physical health, mental well-being, and overall quality of life.
    </p>
  </div>
</aside>