<aside class="sidebar-wrapper">
  <div id="quote-container" class="quote-card">
    <div class="quote-header">
      <div class="quote-icon-container">
        <svg class="quote-run-icon" width="20" height="20">
          <use href="./img/stick.svg"></use>
        </svg>
      </div>
      <h2 class="quote-label">Quote of the day</h2>
      <svg class="quote-symbol" width="20" height="20">
        <use href="./img/sprite.svg#icon-quote"></use>
      </svg>
    </div>
    <p class="quote-text">Loading inspiration...</p>
    <p class="quote-author"></p>
  </div>
</aside>